# Python
backend/venv/
venv/
__pycache__/
*.pyc

# Environment variables
.env

# Node modules
node_modules/
frontend/node_modules/

# Build folders
dist/
frontend/dist/

# VSCode
.vscode/

# OS
.DS_Store